{% extends 'main/base.html' %}
{% load static %}

{% block title %} Course page {% endblock %}

{% block content %}

    <div class="container" style="margin-top: 20px; text-align: center;">
        <div class="row">
            <div class="col-3" style="background-color: orange;">
                <h3> {{ search_from }}</h3>
                {% for station in course_timetable %}
                    {% if station.stations_id == search_from.id %}
                        {{ station.at_location|date:"H:i" }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col" style="background-color: orange;">
                <p> Course: {{ course_name }} </p>
                <p> O------------------------------------------------------------------------------O </p>
            </div>
            <div class="col-3" style="background-color: orange;">
                <h3> {{ search_to }}</h3>
                {% for station in course_timetable %}
                    {% if station.stations_id == search_to.id %}
                        {{ station.at_location|date:"H:i" }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <!--cars view-->
        <div class="row" style="margin-top: 50px;">
            <div class="col-2" style="text-align: right;"> <<< </div>
            {% for car in carriages %}
                {% if car.id == id_car %}
                    <div class="col" onclick="location.href='/course/{{ course_name.id }}/{{ search_from.id }}/{{ search_to.id }}/{{ car.id }}'"
                         title="view seats of the car">
                        <div class="row" style="border: 5px solid orange; border-radius: 12px; margin: 1px;">
                            Car {{ car.id }}
                        </div>
                        <div class="row" style="border: 3px solid orange; margin: 3px;"></div>
                    </div>
                {% else %}
                    <div class="col" onclick="location.href='/course/{{ course_name.id }}/{{ search_from.id }}/{{ search_to.id }}/{{ car.id }}'"
                         title="view seats of the car">
                        <div class="row" style="border: 5px solid #43CE11; border-radius: 12px; margin: 1px;">
                            Car {{ car.id }}
                        </div>
                        <div class="row" style="border: 3px solid #43CE11; margin: 3px;"></div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-2" style="text-align: left;"> <<< </div>
        </div>

        <!--seats view-->
        <div class="row">
            <div class="col-4">
                <div class="row" style="margin-top: 50px; border: 1px solid black;">
                    {% for seat in seats %}
                        <div class="col" style="margin-left: -10px; margin-right: -10px;">
                            <img src="{% static 'img/available.png' %}" style="width: 100%;
                            transform: rotate(90deg);">
                        </div>
                        {% if seat in row_list %}
                            <div class="row" style="margin-top: 20px; margin-bottom: 20px;"></div>
                            <div class="col"></div>
                        {% elif seat|add:'2' in row_list %}
                            <div class="col"></div>
                        {% endif %}

                        <!--table in rows-->
                        {% if seat == 12 or seat == 20 or seat == 72 or seat == 80 or seat == 108 or seat == 116 %}
                            <div class="col"></div>
                            <div class="row" style="margin-top: -40px;">
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                            </div>
                        {% endif %}

                        <!--luggage in rows-->
                        {% if seat == 28 or seat == 52 or seat == 96 or seat == 152 %}
                            <div class="col"></div>
                            <div class="row" style="margin-top: 80px; margin-bottom: 120px;">
                                <div class="col-3">
                                    <img src="{% static 'img/luggage.png' %}" style="width: 100%;">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/luggage.png' %}" style="width: 100%;">
                                </div>
                            </div>
                        {% endif %}

                        <!--restaurant in rows-->
                        {% if seat == 36 or seat == 128 %}
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(90deg);">
                            </div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(90deg);">
                            </div>
                            <div class="col"></div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(90deg);">
                            </div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(90deg);">
                            </div>
                            <div class="row" style="margin-top: 20px; margin-bottom: 20px;"></div>
                            <div class="col"></div>

                            <div class="col"></div>
                            <div class="row" style="margin-top: -40px;">
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                            </div>


                            <div class="col"></div>
                            <div class="row" style="margin-top: 180px; margin-bottom: 220px;">
                                <div class="col-3">
                                    <img src="{% static 'img/restaurant.png' %}" style="width: 100%;">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/restaurant.png' %}" style="width: 100%;">
                                </div>
                            </div>


                            <div class="col"></div>
                            <div class="row" style="margin-top: -40px;">
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/table.png' %}" style="width: 100%;
                                    transform: rotate(90deg);">
                                </div>
                            </div>

                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(-90deg);">
                            </div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(-90deg);">
                            </div>
                            <div class="col"></div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(-90deg);">
                            </div>
                            <div class="col" style="margin-left: -10px; margin-right: -10px;">
                                <img src="{% static 'img/unavailable.png' %}" style="width: 100%;
                                transform: rotate(-90deg);">
                            </div>
                            <div class="row" style="margin-top: 10px;"></div>
                            <div class="col"></div>
                        {% endif %}

                        <!--toilet in rows-->
                        {% if seat == 68 or seat == 120 or seat == 152 %}
                            <div class="col"></div>
                            <div class="row" style="margin-top: 120px; margin-bottom: 160px;">
                                <div class="col-3">
                                    <img src="{% static 'img/toilet.png' %}" style="width: 100%;">
                                </div>
                                <div class="col-5"></div>
                                <div class="col-3">
                                    <img src="{% static 'img/toilet.png' %}" style="width: 100%;">
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                    <div class="col" style="text-align: center; background-color: black;">
                        <h3> driving direction </h3>
                        <h3> \/ </h3>
                    </div>
                </div>
            </div>
            <div class="col" style="margin-top: 50px;">
                <div class="row">
                    <h3 style="margin-bottom: 30px;"> Legend: </h3>
                    <div class="col">
                        <img src="{% static 'img/available.png' %}" style="transform: rotate(90deg);">
                        <p> available place </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/chosen.png' %}" style="transform: rotate(90deg);">
                        <p> your chosen place </p>
                    </div>
                    <div class="col">
                        <img src="{% static 'img/unavailable.png' %}" style="transform: rotate(90deg);">
                        <p> unavailable place </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
