{% extends 'main/base.html' %}

{% block title %} Home page {% endblock %}

{% block content %}

    <div class="container" style="background-color: rgb(35,190,235);">
        <div class="section-heading">
            <h3 align="start" style="margin: 15px; text-align: center;"> Search connections </h3>
        </div>
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-1" style="margin-bottom: 80px;">
                </div>
                <div class="col-3">
                    <a> from </a>
                    <input type="text" name="search-from" class="form-control" placeholder="Enter train station">
                </div>
                <div class="col-3">
                    <a> to </a>
                    <input type="text" name="search-to" class="form-control" placeholder="Enter train station">
                </div>
                <div class="col-1">
                </div>
                <div class="col-2">
                    <a> departing </a> <br>
                    <input id="party" type="time" name="departing">
                </div>
                <div class="col-2" style="margin-top: 15px;">
                    <button type="submit" class="btn" style="background-color: orange;"> Search </button>
                </div>
            </div>
        </form>
    </div>

    <!--returned items-->
    <div class="container" style="margin-top: 20px; text-align: center;">
        {% if selected_courses is empty %}
            <h3> Your ask is wrong, try again enter the stations! </h3>
            <h5> remember that the stations must be pass in english </h5>
        {% else %}
            {% for course in selected_courses %}
                <div class="row">
                    <div class="col-3" style="background-color: rgb(200,195,110);">
                        {% for course_times in selected_courses_from %}
                            {% if course_times.courses_id == course.id %}
                                <a style="font-size: 30px;"> {{ course_times.at_location|date:"H:i" }} </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col" style="background-color: rgb(200,195,110);">
                        <a style="font-size: 12px;"> {{ course.start }} - {{ course.end }} </a><br>
                        {{ search_from }} ---> {{ search_to }}
                    </div>
                    <div class="col-3" style="background-color: rgb(200,195,110);">
                        <a style="font-size: 12px;"> total time: </a><br>
                        ({{ course.time|date:"H:i" }})
                    </div>
                </div>
                <h1></h1>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
